@using TreeAttendance.Models
@model TreeAttendance.Models.TodayAttendance
@{
    ViewBag.Title = "Dashboard";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="~/AdminHome">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
</nav>

<div class="page-header">Hi, Admin</div>
<div class="text-center">
    <h5>Today is @SystemGlobals.Instance.Today.ToString("D")</h5>
</div>
<br />
<a href="~/Attendance/ByDate/@Model.TodayId" class="btn btn-light btn-block dash-btn">
    <div class="card-group">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Current</h5>
                <h5 class="card-title">@Model.Current</h5>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Present</h5>
                <h5 class="card-title">@Model.Present</h5>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">On Time</h5>
                <h5 class="card-title">@Model.OnTime</h5>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Left</h5>
                <h5 class="card-title">@Model.Left</h5>
            </div>
        </div>
    </div>
</a>

<br />
<br />
<div class="text-center">
    <h5>Attendance Statistics over the Last 5 Days</h5>
</div>

<div class="bg-white">
    <table class="table table-striped">
        <thead>
            <tr class="thead">
                <th>Name</th>
                <th>Days Attended</th>
                <th>Hours Attended</th>
                <th>% of Hours Attended</th>
                <th>% change</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Allen</td>
                <td>5</td>
                <td>27</td>
                <td>90%</td>
                <td><div class="text-success">+5%</div></td>
            </tr>
            <tr>
                <td>Mike</td>
                <td>5</td>
                <td>30</td>
                <td>100%</td>
                <td><div class="text-success">+5%</div></td>
            </tr>
            <tr>
                <td>Yanny</td>
                <td>4</td>
                <td>24</td>
                <td>80%</td>
                <td><div class="text-danger">-8%</div></td>
            </tr>
            <tr>
                <td>Laurel</td>
                <td>2</td>
                <td>10</td>
                <td>30%</td>
                <td><div class="text-danger">-40%</div></td>
            </tr>

        </tbody>
    </table>
</div>
