@model TreeAttendance.Models.StudentReport
@{
    ViewBag.Title = "Student Reports";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome">Admin</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Reports/Index">Reports</a></li>
        <li class="breadcrumb-item active" aria-current="page">Student Reports</li>
    </ol>
</nav>
<div class="page-header">Student Reports</div>
<div class="text-center">
    <h5>Monthly Reports of Student</h5>
</div>
<br />
<div class="row row-custom" >
    <div class="dropdown">
        <a class="btn btn-primary dropdown-toggle text-white" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Month
        </a>
        &nbsp;
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/Reports/StudentReports/@Url.RequestContext.RouteData.Values["id"]/6">June 2018</a>
            <a class="dropdown-item" href="/Reports/StudentReports/@Url.RequestContext.RouteData.Values["id"]/5">May 2018</a>
            <a class="dropdown-item" href="/Reports/StudentReports/@Url.RequestContext.RouteData.Values["id"]/4">April 2018</a>
            <a class="dropdown-item" href="/Reports/StudentReports/@Url.RequestContext.RouteData.Values["id"]/3">March 2018</a>
            <a class="dropdown-item" href="/Reports/StudentReports/@Url.RequestContext.RouteData.Values["id"]/2">Febuary 2018</a>
            <a class="dropdown-item" href="/Reports/StudentReports/@Url.RequestContext.RouteData.Values["id"]/1">January 2018</a>
        </div>
    </div>
    <a class="btn btn-primary text-white" href="/Reports/Download" target="_blank">
        Download Report
    </a>
</div>
<br/>

@if (Model.Attendance.Count == 0)
{
    <p>No Data of this Month</p>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <div class="text-center">
        <h4>Attendance Statistics of this Month</h4>
    </div>

    <div class="bg-white">
        <table class="table table-striped">
            <thead>
                <tr class="thead">
                    <th>Attendance Status</th>
                    <th>Days</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Present</td>
                    <td>@Model.DaysPresent</td>
                    <td>@Model.PercPresent%</td>
                </tr>
                <tr>
                    <td>Absent Unexcused</td>
                    <td>@Model.DaysAbsentUnexcused</td>
                    <td>@Model.PercUnexcused%</td>
                </tr>
                <tr>
                    <td>Absent Excused</td>
                    <td>@Model.DaysAbsentExcused</td>
                    <td>@Model.PercExcused%</td>
                </tr>
                <tr>
                    <td>Total Days</td>
                    <td>@Model.Attendance.Count</td>
                    <td>100%</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div class="row justify-content-lg-center">
        <canvas id="barChart2" width="1150" height="300"></canvas>
        <script>
        var ctx = document.getElementById("barChart2").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',

            data: {
                labels: [@String.Join(", ", Model.Date.ToArray())],

                datasets: [{
                    backgroundColor:
                        'rgba(54, 162, 235, 0.5)',
                    label: 'Daily Attended Hours' ,

                    data: [@String.Join(", ", Model.HoursAttended.ToArray())],

                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    fontSize: 24,
                    text: 'Attended Hours'
                },
                responsive: false,
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: '# of Hours Attended'
                        }
                    }]
                },
            }
        });

        </script>
    </div>
    <br />
    <div class="row justify-content-lg-center">
        <canvas id="accumulativeChart" width="1150" height="300"></canvas>
        <script>
        var ctx = document.getElementById("accumulativeChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [@String.Join(", ", Model.Date.ToArray())],

                datasets: [{
                    label: 'Attended',
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.5)',
                    ],
                    data: [@String.Join(", ", Model.AccumulativeHoursAttended.ToArray())],

                    borderWidth: 1
                }, {
                    label: 'Expected',
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    data: [@String.Join(", ", Model.AccumulativeHoursExpected.ToArray())],

                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    fontSize: 24,
                    text: 'Cumulative Attended Hours'
                },
                responsive: false,
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: '# of Cummulative Hours'
                        }
                    }]
                },
            }
        });

        </script>
    </div>
    <br />
    <div class="row justify-content-lg-center">
        <div class="col-3">
            <canvas id="pieChart" width="300" height="300"></canvas>
            <script>
            var ctx = document.getElementById("pieChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["Present", "Absent Excused", "Absent Unexcused"],
                    datasets: [{
                        data: [@Model.DaysPresent, @Model.DaysAbsentExcused, @Model.DaysAbsentUnexcused],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        fontSize: 20,
                        text: 'Present vs Absent'
                    },
                    responsive: false,
                }
            });

            </script>
        </div>
        <div class="col-3">
            <canvas id="pieChart4" width="300" height="300"></canvas>
            <script>
            var ctx = document.getElementById("pieChart4").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["Attended Hours", "Missing Hours"],
                    datasets: [{
                        data: [@Model.TotalHoursAttended, @Model.TotalHoursMissing],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        fontSize: 20,
                        text: 'Attended Hours vs Missing Hours'
                    },
                    responsive: false,
                }
            });

            </script>
        </div>
        <div class="col-3">
            <canvas id="pieChart2" width="300" height="300"></canvas>
            <script>
            var ctx = document.getElementById("pieChart2").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["On Time", "Late"],
                    datasets: [{
                        data: [@Model.DaysOnTime, @Model.DaysLate],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        fontSize: 20,
                        text: 'On Time vs Late'
                    },
                    responsive: false,
                }
            });

            </script>
        </div>
        <div class="col-3">
            <canvas id="pieChart3" width="300" height="300"></canvas>
            <script>
            var ctx = document.getElementById("pieChart3").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["Stayed", "Left Early"],
                    datasets: [{
                        data: [@Model.DaysStayed, @Model.DaysLeftEarly],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        fontSize: 20,
                        text: 'Stayed vs Left Early'
                    },
                    responsive: false,
                }
            });

            </script>

        </div>

    </div>
    <br />


}

