@model TreeAttendance.Models.StudentReport
@{
    ViewBag.Title = "Student Reports";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome">Admin</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/AdminHome/Reportsindex">Reports</a></li>
        <li class="breadcrumb-item active" aria-current="page">Student Reports</li>
    </ol>
</nav>
<div class="page-header">Student Reports</div>
<div class="text-center">
    <h5>Monthly Reports of Student</h5>
</div>
<br />
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="~/Reports/Download" target="_blank"><div class="btn btn-primary my-2 my-sm-0" href="~/Reports/Download" target="_blank">Download report</div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Month
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">May 2018</a>
                    <a class="dropdown-item" href="#">April 2018</a>
                    <a class="dropdown-item" href="#">March 2018</a>
                    <a class="dropdown-item" href="#">Febuary 2018</a>
                    <a class="dropdown-item" href="#">January 2018</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

<div class="row justify-content-lg-center">
    <canvas id="barChart2" width="1150" height="300"></canvas>
    <script>
        var ctx = document.getElementById("barChart2").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',

            data: {
                labels: [@String.Join(", ", Model.Date.ToArray())],

                datasets: [{
                    backgroundColor:
                        'rgba(54, 162, 235, 1)',
                    label: 'Daily Attended Hours' ,

                    data: [@String.Join(", ", Model.HoursAttended.ToArray())],

                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    position: 'bottom',
                    fontSize: 20,
                    text: 'Attended Hours'
                },
                responsive: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
            }
        });

    </script>
</div>
<br />
<div class="row justify-content-lg-center">
    <canvas id="accumulativeChart" width="1150" height="300"></canvas>
    <script>
        var ctx = document.getElementById("accumulativeChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [@String.Join(", ", Model.Date.ToArray())],

                datasets: [{
                    label: 'Actual',
                    backgroundColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    data: [@String.Join(", ", Model.AccumulativeHoursAttended.ToArray())],

                    borderWidth: 1
                }, {
                    label: 'Expected',
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    data: [@String.Join(", ", Model.AccumulativeHoursExpected.ToArray())],

                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    position: 'bottom',
                    fontSize: 20,
                    text: 'Accumulative Attended Hours'
                },
                responsive: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
            }
        });

    </script>
</div>
<br />
<div class="row justify-content-lg-center">
    <div class="col-3">
        <canvas id="pieChart" width="300" height="300"></canvas>
        <script>
            var ctx = document.getElementById("pieChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["Present", "Absent Excused", "Absent Unexcused"],
                    datasets: [{
                        data: [@Model.DaysPresent, @Model.DaysAbsentExcused, @Model.DaysAbsentUnexcused],
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        position: 'bottom',
                        fontSize: 20,
                        text: 'Present vs Absent'
                    },
                    responsive: false,
                }
            });

        </script>
    </div>
    <div class="col-3">
        <canvas id="pieChart4" width="300" height="300"></canvas>
        <script>
            var ctx = document.getElementById("pieChart4").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["Attended Hours", "Missing Hours"],
                    datasets: [{
                        data: [@Model.TotalHoursAttended, @Model.TotalHoursMissing],
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        position: 'bottom',
                        fontSize: 20,
                        text: 'Attended Hours vs Missing Hours'
                    },
                    responsive: false,
                }
            });

        </script>
    </div>
    <div class="col-3">
        <canvas id="pieChart2" width="300" height="300"></canvas>
        <script>
            var ctx = document.getElementById("pieChart2").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["On Time", "Late"],
                    datasets: [{
                        data: [@Model.DaysOnTime, @Model.DaysLate],
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        position: 'bottom',
                        fontSize: 20,
                        text: 'On Time vs Late'
                    },
                    responsive: false,
                }
            });

        </script>
    </div>
    <div class="col-3">
        <canvas id="pieChart3" width="300" height="300"></canvas>
        <script>
            var ctx = document.getElementById("pieChart3").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["Stayed", "Left Early"],
                    datasets: [{
                        data: [@Model.DaysStayed, @Model.DaysLeftEarly],
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        position: 'bottom',
                        fontSize: 20,
                        text: 'Stayed vs Left Early'
                    },
                    responsive: false,
                }
            });

        </script>

    </div>

</div>
<br />



<img class="report-img" src="~/Content/img/StudentReportMerge.jpg" />