@model TreeAttendance.Models.StudentModel
@{
    ViewBag.Title = "Create Student Profile";
}
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/Index"><h5>Dashboard</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/Students/Index"><h5>Students</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Attendance/Index"><h5>Attendance</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/ReportsIndex"><h5>Reports</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Trees/Index"><h5>Trees</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/Calendar"><h5>Calendar</h5></a>
    </li>
</ul>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Students">Students</a></li>
        <li class="breadcrumb-item" aria-current="page active">Create a New Student Profile</li>
    </ol>
</nav>

<div class="page-header">Create a New Student Profile</div>
<br />
@using (Html.BeginForm())
{
    <p class="alert alert-info">All fields are <strong>required</strong>.</p>
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProfilePictureUri)
        @Html.TextBoxFor(m => m.ProfilePictureUri, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProfilePictureUri)
    </div>
    <br />
    <div class="row">
        <div class="col-sm-1">
            <a href="~/Students/Index" class="btn btn-success" style="width: 80px">Cancel</a>
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary" style="width: 80px">Create</button>
        </div>
    </div>
}








