@model TreeAttendance.Models.StudentModel
@{
    ViewBag.Title = "Remove Student";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="~/AdminHome">Admin</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Students">Students</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="~/Students/Read/@Model.Id">Allen</a></li>
        <li class="breadcrumb-item" aria-current="page active">Remove</li>
    </ol>
</nav>

<div class="page-header">Remove Student Profile</div>

<br /><br /><br />
<div class="row justify-content-lg-center">
    <div class="col-lg-auto" style="display:flex; text-align:center">
        <div class="col col-custom">
            <img class="profile-img rounded-circle" src="~/Content/img/@Model.ProfilePictureUri" />
            <div class="label">
                @Model.Name
            </div>
            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Name)
                @Html.HiddenFor(m => m.ProfilePictureUri)
                <p class="alert alert-danger"><strong>Remove</strong> this profile?</p>
                <br />
                <div>
                    <a href="~/Students/Read/@Model.Id" class="btn btn-success btn-block">Cancel</a>
                </div>
                <br />
                <div>
                    <button type="submit" class="btn btn-danger btn-block">Remove</button>
                </div>
            }
        </div>
    </div>
</div>


