@model TreeAttendance.Models.StudentModel
@{
    ViewBag.Title = "Remove Student";
}

<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/Index"><h5>Dashboard</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/Students/Index"><h5>Students</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Attendance/Index"><h5>Attendance</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/ReportsIndex"><h5>Reports</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Trees/Index"><h5>Trees</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/Calendar"><h5>Calendar</h5></a>
    </li>
</ul>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Students">Students</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="~/Students/Read/@Model.Id">Allen</a></li>
        <li class="breadcrumb-item" aria-current="page active">Remove</li>
    </ol>
</nav>

<div class="page-header">Remove Student Profile</div>

<div class="row">
    <div class="col-3" align="center">
        <img src="~/Content/img/@Model.ProfilePictureUri" width="100" height="100" />
        <div class="label">
            @Model.Name
        </div>
    </div>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.ProfilePictureUri)
    <p class="alert alert-danger">Are you sure you want to <strong>remove</strong> this student profile?</p>
    <br />
    <div class="row">
        <div class="col-sm-1">
            <a href="~/Students/Read/@Model.Id" class="btn btn-success" style="width: 80px">Cancel</a>
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-danger" style="width: 80px">Remove</button>
        </div>
    </div>
}


