@model TreeAttendance.Models.StudentModel
@{
    ViewBag.Title = "Edit Student Profile";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="~/AdminHome">Admin</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Students">Students</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="~/Students/Read/@Model.Id">@Model.Name</a></li>
        <li class="breadcrumb-item" aria-current="page active">Edit Profile</li>
    </ol>
</nav>

<div class="page-header">Edit Profile</div>
<br />
<br />
<div class="text-center">

    <img class="rounded-circle profile-img" src="~/Content/img/@Model.ProfilePictureUri" />
    <div class="label">
        @Model.Name
    </div>
</div>
<br />

<p class="alert alert-primary">All fields are <strong>required</strong>.</p>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProfilePictureUri)
        @Html.TextBoxFor(m => m.ProfilePictureUri, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProfilePictureUri)
    </div>
    <br />
    <div>

        <button type="submit" class="btn btn-primary custom">Save</button>

    </div>
}












