@using TreeAttendance.Models.Enums
@model TreeAttendance.Models.ViewModels.AttendanceByDateViewModel
@{
    ViewBag.Title = "Attendance by School Day";
}
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/Index"><h5>Dashboard</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Students/Index"><h5>Students</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/Attendance/Index"><h5>Attendance</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/ReportsIndex"><h5>Reports</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Trees/Index"><h5>Trees</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Calendar/Index"><h5>Calendar</h5></a>
    </li>
</ul>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="~/AdminHome">Admin</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Attendance">Attendance</a></li>
        <li class="breadcrumb-item active" aria-current="page">By Date: @Model.Date.ToString("D")</li>
    </ol>
</nav>
<div class="page-header">Attendance Records of @Model.Date.ToString("D")</div>

<br />
@if (Model.AttendanceList.Count == 0)
{
    <br />
    <p>No attendance record of this date</p>
    <br />
}
else
{
    <div class="bg-white">
        <table class="table table-striped">
            <thead>
                <tr class="thead">
                    <th></th>
                    <th>Student</th>
                    <th>Status</th>
                    <th>Check-in Time</th>
                    <th>Check-out Time</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AttendanceList)
                {
                    <tr>
                        <td>
                            <img class="profile-img-sm" src="~/Content/img/@item.Uri" />
                        </td>
                        <td>
                            @item.StudentName
                        </td>
                        <td>
                            @if (item.Attendance.Status == AttendanceStatusEnum.AbsentUnexcused)
                            {

                                <span class="badge badge-pill badge-danger">Absent Unexcused</span>

                            }
                            else if (item.Attendance.Status == AttendanceStatusEnum.AbsentExcused)
                            {

                                <span class="badge badge-pill badge-warning">Absent Excused</span>

                            }
                            else if (item.Attendance.Status == AttendanceStatusEnum.Late)
                            {

                                <span class="badge badge-pill badge-dark">Late</span>

                            }
                            else if (item.Attendance.Status == AttendanceStatusEnum.LateLeft)
                            {

                                <span class="badge badge-pill badge-dark">Late</span>

                                <span class="badge badge-pill badge-info">Left Early</span>

                            }
                            else if (item.Attendance.Status == AttendanceStatusEnum.OnTime)
                            {

                                <span class="badge badge-pill badge-success">On Time</span>

                            }
                            else if (item.Attendance.Status == AttendanceStatusEnum.OnTimeLeft)
                            {

                                <span class="badge badge-pill badge-success">On time</span>

                                <span class="badge badge-pill badge-info">Left Early</span>

                            }
                        </td>
                        <td>
                            @if (@item.Attendance.AttendanceCheckIns.Count != 0)
                            {
                                @item.Attendance.AttendanceCheckIns.First().CheckIn.ToString(@"hh\:mm")

                            }

                        </td>
                        <td>
                            @if (@item.Attendance.AttendanceCheckIns.Count != 0)
                            {
                                @item.Attendance.AttendanceCheckIns.First().CheckOut.ToString(@"hh\:mm")
                            }
                        </td>
                        <td>
                            <a href="~/Attendance/Read/@item.Attendance.Id">
                                Details
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<br />
