@using TreeAttendance.Models.Enums
@model TreeAttendance.Models.ViewModels.AttendanceByStudentViewModel
@{
    ViewBag.Title = "Attendance by Student";
}
<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/Index"><h5>Dashboard</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Students/Index"><h5>Students</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="~/Attendance/Index"><h5>Attendance</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/AdminHome/ReportsIndex"><h5>Reports</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Trees/Index"><h5>Trees</h5></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Calendar/Index"><h5>Calendar</h5></a>
    </li>
</ul>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="~/AdminHome">Admin</a></li>
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Attendance">Attendance</a></li>
        <li class="breadcrumb-item active" aria-current="page">By Student: @Model.StudentName</li>
    </ol>
</nav>
<div class="page-header">Past Attendance Records of @Model.StudentName</div>

<br />
@if (Model.AttendanceList.Count == 0)
{
    <br />
    <p>No attendance record of this student</p>
    <br />
}
else
{
    <div class="bg-white">
        <table class="table table-striped">
            <thead>
                <tr class="thead">
                    <th>Date</th>
                    <th>Status</th>
                    <th>Check-in Time</th>
                    <th>Check-out Time</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = Model.AttendanceList.Count - 1; i >= Model.AttendanceList.Count - 11; i--)
                {
                    var item = Model.AttendanceList[i];
                    <tr>
                        <td>@item.Date</td>
                        <td>
                            @if (item.Attendance.Status == AttendanceStatusEnum.AbsentUnexcused)
                            {

                                <span class="badge badge-pill badge-danger">Absent Unexcused</span>

                            }
                            else if (item.Attendance.Status == AttendanceStatusEnum.AbsentExcused)
                            {

                                <span class="badge badge-pill badge-warning">Absent Excused</span>

                            }
                            else if (item.Attendance.Status == AttendanceStatusEnum.Late)
                            {

                                <span class="badge badge-pill badge-dark">Late</span>

                            }
                            else if (item.Attendance.Status == AttendanceStatusEnum.LateLeft)
                            {

                                <span class="badge badge-pill badge-dark">Late</span>

                                <span class="badge badge-pill badge-info">Left Early</span>

                            }
                            else if (item.Attendance.Status == AttendanceStatusEnum.OnTime)
                            {

                                <span class="badge badge-pill badge-success">On Time</span>

                            }
                            else if (item.Attendance.Status == AttendanceStatusEnum.OnTimeLeft)
                            {

                                <span class="badge badge-pill badge-success">On time</span>

                                <span class="badge badge-pill badge-info">Left Early</span>

                            }
                        </td>
                        <td>
                            @if (@item.Attendance.AttendanceCheckIns.Count != 0)
                            {
                                @item.Attendance.AttendanceCheckIns.First().CheckIn
                            }

                        </td>
                        <td>
                            @if (@item.Attendance.AttendanceCheckIns.Count != 0)
                            {
                                @item.Attendance.AttendanceCheckIns.First().CheckOut
                            }
                        </td>
                        <td>
                            <a href="~/Attendance/Read/@item.Attendance.Id">
                                Details
                            </a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-4">
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                See More
            </a>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text" id="btnGroupAddon2">Search by Date</div>
                </div>
                <input type="text" class="form-control" aria-label="Input group example" aria-describedby="btnGroupAddon2">
            </div>
        </div>
    </div>
    <br/>
    <div class="collapse" id="collapseExample">
        <div class="bg-white">
            <table class="table table-striped">
                <thead>
                    <tr class="thead">
                        <th>Date</th>
                        <th>Status</th>
                        <th>Check-in Time</th>
                        <th>Check-out Time</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = Model.AttendanceList.Count - 12; i >= 0; i--)
                    {
                        var item = Model.AttendanceList[i];
                        <tr>
                            <td>@item.Date</td>
                            <td>
                                @if (item.Attendance.Status == AttendanceStatusEnum.AbsentUnexcused)
                                {

                                    <span class="badge badge-pill badge-danger">Absent Unexcused</span>

                                }
                                else if (item.Attendance.Status == AttendanceStatusEnum.AbsentExcused)
                                {

                                    <span class="badge badge-pill badge-warning">Absent Excused</span>

                                }
                                else if (item.Attendance.Status == AttendanceStatusEnum.Late)
                                {

                                    <span class="badge badge-pill badge-dark">Late</span>

                                }
                                else if (item.Attendance.Status == AttendanceStatusEnum.LateLeft)
                                {

                                    <span class="badge badge-pill badge-dark">Late</span>

                                    <span class="badge badge-pill badge-info">Left Early</span>

                                }
                                else if (item.Attendance.Status == AttendanceStatusEnum.OnTime)
                                {

                                    <span class="badge badge-pill badge-success">On Time</span>

                                }
                                else if (item.Attendance.Status == AttendanceStatusEnum.OnTimeLeft)
                                {

                                    <span class="badge badge-pill badge-success">On time</span>

                                    <span class="badge badge-pill badge-info">Left Early</span>

                                }
                            </td>
                            <td>
                                @if (@item.Attendance.AttendanceCheckIns.Count != 0)
                                {
                                    @item.Attendance.AttendanceCheckIns.First().CheckIn
                                }

                            </td>
                            <td>
                                @if (@item.Attendance.AttendanceCheckIns.Count != 0)
                                {
                                    @item.Attendance.AttendanceCheckIns.First().CheckOut
                                }
                            </td>
                            <td>
                                <a href="~/Attendance/Read/@item.Attendance.Id">
                                    Details
                                </a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
}

