@model TreeAttendance.Models.ViewModels.AttendanceViewModel
@{
    ViewBag.Title = "Remove Attendance";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Attendance">Attendance</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="~/Attendance/Read/@Model.Attendance.Id">@Model.StudentName, @Model.Date.ToString("D")</a></li>
        <li class="breadcrumb-item" aria-current="page active">Remove</li>
    </ol>
</nav>
<div class="page-header">Remove Attendance</div>

<br /><br /><br />
<div class="row justify-content-lg-center">
    <div class="col-lg-auto" style="display:flex; text-align:center">
        <div class="col col-custom">

            <img class="profile-img" src="~/Content/img/@Model.Uri" />
            <div class="label">
                @Model.StudentName
                <br />
                @Model.Date.ToString("D")
            </div>

            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Attendance.Id)
                <p class="alert alert-danger"><strong>Remove</strong> this record?</p>
                <br />
                <div>
                    @Html.ActionLink("Cancel", "Read", new { id = Model.Attendance.Id }, new { @class = "btn btn-success btn-block" })
                </div>
                <br />
                <div>
                    <input type="submit" value="Remove" class="btn btn-danger btn-block">
                </div>


            }

        </div>
    </div>
</div>