@model TreeAttendance.Models.ViewModels.AttendanceCheckInViewModel
@{
    ViewBag.Title = "DeleteCheckIn";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Attendance">Attendance</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="~/Attendance/Read/@Model.AttendanceId">@Model.StudentName, @Model.Date.ToString("D")</a></li>
        <li class="breadcrumb-item" aria-current="page active">Delete Check-in #@(Model.Index + 1)</li>
    </ol>
</nav>

<div class="page-header">Remove Check-in</div>
<br />
<div class="text-center">
    <img class="profile-img" src="~/Content/img/@Model.Uri" />
    <div class="label">
        @Model.StudentName
        <br />
        @Model.Date.ToString("D")
        <br />
        Check-in #@(Model.Index + 1)
        <br />
        Check-in Time:<br /> @Model.CheckIn.ToString(@"hh\:mm")
        <br />
        Check-out Time:<br /> @Model.CheckOut.ToString(@"hh\:mm")
    </div>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.AttendanceId)
    <p class="alert alert-danger">Are you sure you want to <strong>remove</strong> this attendance check-in?</p>
    <br />
        <div>
            @Html.ActionLink("Cancel", "Read", new { id = Model.AttendanceId }, new { @class = "btn btn-success custom" })
        </div>
        <br/>
        <div>
            <input type="submit" value="Remove" class="btn btn-danger custom">
        </div>


}
