@using TreeAttendance.Models.Enums
@model TreeAttendance.Models.ViewModels.AttendanceViewModel
@{
    ViewBag.Title = "Attendance Details";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"> <a href="~/Attendance">Attendance</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.StudentName, @Model.Date.ToString("D")</li>
    </ol>
</nav>
<div class="page-header">Attendance Details</div>
<br />
<div class="row justify-content-lg-center">
    <div class="col-lg-auto" style="display:flex; text-align:center">
        <div class="col" style="width: 1200px">
            <img src="~/Content/img/@Model.Uri" width="100" height="100" />
            <div class="label">
                @Model.StudentName
                <br />
                @Model.Date.ToString("D")
            </div>

            @if (Model.Attendance.Status == AttendanceStatusEnum.AbsentUnexcused)
            {
                <div>
                    <span class="badge badge-pill badge-danger">Absent Unexcused</span>
                </div>
                <br />
                <a href="~/Attendance/SetExcused/@Model.Attendance.Id/1" class="btn btn-primary">Change to Excused Absent</a>
            }
            else if (Model.Attendance.Status == AttendanceStatusEnum.AbsentExcused)
            {
                <div>
                    <span class="badge badge-pill badge-warning">Absent Excused</span>
                </div>
                <br />
                <a href="~/Attendance/SetExcused/@Model.Attendance.Id/0" class="btn btn-primary">Change to Unexcused Absent</a>
            }
            else if (Model.Attendance.Status == AttendanceStatusEnum.Late)
            {
                <div>
                    <span class="badge badge-pill badge-dark">Late</span>
                </div>
            }
            else if (Model.Attendance.Status == AttendanceStatusEnum.LateLeft)
            {
                <div>
                    <span class="badge badge-pill badge-dark">Late</span>
                </div>
                <div>
                    <span class="badge badge-pill badge-info">Left Early</span>
                </div>
            }
            else if (Model.Attendance.Status == AttendanceStatusEnum.OnTime)
            {
                <div>
                    <span class="badge badge-pill badge-success">On Time</span>
                </div>
            }
            else if (Model.Attendance.Status == AttendanceStatusEnum.OnTimeLeft)
            {
                <div>
                    <span class="badge badge-pill badge-success">On time</span>
                </div>
                <div>
                    <span class="badge badge-pill badge-info">Left Early</span>
                </div>
            }
            <div class="row row-custom">
                @for (int i = 0; i < Model.Attendance.AttendanceCheckIns.Count(); i++)
                {
                    <div class="card col-card">
                        <div class="card-header text-left">
                            Check-in #@(i + 1)
                            <a href="~/Attendance/DeleteCheckIn/@Model.Attendance.Id/@i" class="text-danger float-right">Remove</a>
                        </div>
                        <div class="card-body">
                            <div class="label">Check-in Time: @Model.Attendance.AttendanceCheckIns[i].CheckIn.ToString(@"hh\:mm")</div>
                            <div class="label">Check-out Time: @Model.Attendance.AttendanceCheckIns[i].CheckOut.ToString(@"hh\:mm")</div>
                            <br />
                            <a href="~/Attendance/UpdateCheckIn/@Model.Attendance.Id/@i" class="btn btn-outline-primary btn-sm btn-block">Edit</a>
                        </div>
                    </div>

                }
                <div class="card col-card text-center">
                    <div class="card-header">Add a New Check-in</div>
                    <div class="card-body justify-content-sm-center">
                        <a href="~/Attendance/CreateCheckIn/@Model.Attendance.Id">
                            <img class="profile-img-lg" src="~/Content/img/AddIcon.png" />
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<br />
<br />

<br />

<div>
    <a href="~/Attendance/Delete/@Model.Attendance.Id" class="btn btn-outline-danger">Remove This Attendance Record</a>
</div>
